

<div class="footer-wrapper">
  <div class="ribbon-wrapper slide-in-right">
  <div class="github-ribbon"><a href="#">Fork me on GitHub!</a></div></div>
  <div class="footer slide-in-right">
    <p class="copyrights">© Designed and build by Paulina Drozdz</p>
    <div class="social-container">
      <a
        href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
        target="_blank"
        rel="noreferrer"
      >
        <i class="fa-brands fa-linkedin-in social"></i>
      </a>
      <a
        href="https://github.com/Paulina594"
        target="_blank"
        rel="noreferrer"
      >
        <i class="fa-brands fa-github social"></i>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=48575363003"
        target="_blank"
        rel="noreferrer"
      >
        <i class="fa-brands fa-whatsapp social"></i>
      </a>
      <a
        href="https://www.paulinadrozdz.me"
        target="_blank"
        rel="noreferrer"
      >
        <div class="pd social">
          <span class="p">p</span>
          <span class="d">d</span>
        </div>
      </a>
    </div>

  </div>
</div>
