<div class="home-wrapper">
  <div class="monkey">
    <img src="./assets/images/monkey-cleared.png" alt="monkey">
  </div>
  <div class="speak-cloud">
    <div class="cloud">
      <div class="text"><p>Hi buddy!</p>
        <p>What can I do for you today?</p>
        <div class="offers">
          <div class="country offer">Guess my country</div>
          <div class="quote offer">Give me a quote of the day</div>
          <div class="joke offer">Tell me a joke</div>
        </div>
      </div>
    </div>
  </div>
</div>
